/* ajout des polices */
@font-face {
    font-family: lufgabold;
    src: url(../font/LufgaBold.ttf) format('truetype');
}

@font-face {
    font-family: lufga;
    src: url(../font/LufgaMedium.ttf);
}

@font-face {
    font-family: lufgaextrabold;
    src: url(../font/LufgaExtraBold.ttf);
}

@font-face {
    font-family: lufgablack;
    src: url(../font/LufgaBlack.ttf);
}

/* modification génerale*/

body {
    font-family: lufga;
    padding: 0;
    margin: 0;
}

/*-----------------------------------
                NAVBAR
------------------------------------*/


nav {
    display: flex;
    position: absolute;
    top: 0;
    background-color: none;
    padding: 1vw;
    background: linear-gradient(rgba(0, 0, 0, 0.572), rgba(255, 255, 255, 0));
    width: 98%;
    z-index: 2;
}



nav img {
    width: 3vw;
    padding-inline: 0.2vw;
}

.loupe {
    width: 1.7vw;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: none;
    text-decoration: none;
    border: solid 2px;
    border-radius: 10000vw;
    padding: 1vw;
    height: 1.3vw;
    transition-duration: .2s;
    margin-inline: 0.3vw;
}

nav a:not(.iconeRond) {
    padding-inline: 3vw;
}

nav a.iconeRond {
    border: none;
}

nav a:hover:not(:first-child) {

    transition-duration: .2s;
    background-color: #007ca6;
    color: white;
    border-color: transparent;
}

nav a:hover:first-child {
    background-image: url('./images/logoTDG.png');
    transition-duration: .2s;
}

.grow {
    flex-grow: 1;
}

h1 {
    font-size: 6.8359375vw;
    font-family: lufgabold;
}

.hautPage {
    margin-top: -9vw;
    margin-inline: 6vw
}

h2 {
    font-size: 2.9296875vw;
    font-family: lufgabold;
}

h3 {
    font-size: 1.953125vw;
    font-family: lufgabold;
}

/* page login.php */

.pageLogin {
    display: flex;
    z-index: 1;
}

.pageLogin>div>img {
    width: 60vw;
}

.titrelogin {
    color: white;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 8vw;
}

.login-container {
    display: flex;
    justify-content: flex-end;
}

.login-form {
    font-size: 15px;
    width: fit-content;
    text-align: left;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: 7%;

}

label {
    display: block;
    margin-bottom: 5px;
}

.inputlogin {
    padding-left: 5px;
    font-family: lufga;
    height: 42px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-color: black;
}

button {
    font-family: lufga;
    height: 42px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 70px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 5px;
}

button:hover {
    transition-duration: .2s;
    background-color: #007ca6;
    color: white;
    border-color: transparent;
}

.login-form p {
    text-align: center;
    margin-top: 2vw;
}

@media (max-width: 670px) {
    .login-form {
        margin: 10vw auto;
        padding: 5%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.7);
        width: 80%;
        border-radius: 20px;
    }

    .h2-login {
        font-size: 16px;
    }


    .body-login {
        background-image: url('../img/flocon.png');
        background-position: center;
        background-repeat: no-repeat;

    }

    .titrelogin,
    .img-login {

        visibility: hidden;
    }
}



/* page d'accueil */



.div-principale {
    position: relative;
}

.bodyindex {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.background-image {
    position: relative;
    text-align: center;
}

.background-image img:not(#flecheBas) {
    width: 98%;
    height: auto;
    display: block;
    filter: brightness(0.6);
    border-radius: 20px;
    margin: 0 auto;
}

#flecheBas {
    width: 6vw;
    position: absolute;
    top: 37vw;
    left: 90vw;
    cursor: pointer;
}

#flecheBas:hover {
    transform: scale(1.1);
    transform: rotate(360deg);
    transition: 0.5s;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.titre-glaces,
.titre-trail {
    font-family: 'lufgabold';
    color: white;
    margin: 0;
}

.titre-glaces {
    display: flex;
    font-size: 15vw;
    margin: 0 auto;
    margin: -40px;
}

.titre-trail {
    font-size: 2.5vw;
}

.bouton-inscription {
    font-size: 1.171875vw;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid #000;
    background-color: white;
    color: #000;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 3;
}

.bouton-inscription:hover {
    transition-duration: .2s;
    background-color: #007ca6;
    color: white;
    border-color: transparent;
}

.div-explication {
    width: 83%;
    margin: auto;
    text-align: justify;

}

.bouton-info {
    font-size: 15px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 3;
    text-decoration: none;
}


.bouton-info:hover {
    transition-duration: .2s;
    background-color: #007ca6;
    color: white;
    border-color: transparent;
}

.texteIndex {
    display: flex;
    flex-direction: row;
}

.texteIndex p {
    margin-right: 18px;
}

.separateur {
    border-top: 3px groove black;
    margin: 10px auto;
    width: 83%;
    text-align: center;
}

.ellipse1 {
    width: 170px;
    float: right;
    margin-left: auto;
    margin-top: 20px;
}

.ellipse2 {
    position: absolute;
    width: 170px;
    float: left;
    margin-right: auto;
    margin-top: 20px;
}

.conteneur-cartes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carte {
    text-align: center;
    padding: 2%;
    margin: 2%;
    width: calc(33.33% - 20px);
    max-width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.carte i {
    font-size: 4vw;
    margin-bottom: 2%;
}

.carte {
    border: none;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.rectangle {
    max-width: 600px;
    height: 26.041666666666668vw;
    border-radius: 1.6276041666666667vw;
    margin-right: 10px;
    margin: 10px;
}

.square {
    max-width: 400px;
    height: 26.041666666666668vw;
    border-radius: 1.6276041666666667vw;
    margin: 10px;
}

@media (max-width: 670px) {

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .titre-glaces {
        font-size: 80px;
        margin: -30px;
    }

    .bouton-info {
        font-size: 13px;
    }

    .bouton-inscription {
        font-size: 11px;
    }

    @media (max-width: 670px) {

        .image-container {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .img-index {
            width: 100%;
            height: 35vw;
            object-fit: cover;
        }
    }

    @media (max-width: 963px) {

        .ellipse1 {
            display: none;
            visibility: hidden;
        }

        .ellipse2 {
            display: none;
            visibility: hidden;
        }
    }
}

/*-------------------------------
                FAQ
--------------------------------*/

.pseudoFaq {
    display: flex;
}

.pseudoFaq strong {
    font-family: lufgablack;
    margin-right: 1vw;
}

#chat-messages {
    margin-inline: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

.adminPseudo {
    color: #007ca6;
}

hr {
    height: 0.1vw;
    background-color: rgb(243, 243, 243);
    border: none;
    width: 60vw;
    border-radius: 30vw;
}

#message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-form input {
    width: 40vw;
}

#message-form input:last-of-type {
    width: 15vw;
    align-items: center;
}

.bouton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .carte {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .carte {
        width: calc(100% - 20px);
    }
}

.titresectionphoto {
    margin-left: 8.333333333333334vw;
}



/*-------------------------------
                FAQ
--------------------------------*/

.pseudoFaq strong {
    font-family: lufgablack;
    margin-right: 1vw;
}

#chat-messages {
    margin-inline: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

hr {
    height: 0.1vw;
    background-color: rgb(243, 243, 243);
    border: none;
    width: 60vw;
    border-radius: 30vw;
}

#message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-form input {
    width: 40vw;
}

#message-form input:last-of-type {
    width: fit-content;
    height: fit-content;
    align-items: center;
}

/*-------------------------------
            Billetterie
--------------------------------*/

.ensembleCard {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 2vw;
    padding: 0 1vw 2vw 1vw;
    border-radius: 0.8vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card img {
    width: 5vw;
}

.validBleu {
    color: white;
    text-decoration: none;
    background-color: #0E7CA6;
    cursor: pointer;
    border: none;
    padding: 0.7vw 1.5vw 0.7vw 1.5vw;
    border-radius: 0.5vw;
}

/* Formulaire participants */

.ensembleForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.formParticipant {
    margin-bottom: 2vw;
    margin-inline: 2vw;
    width: 20vw;
}

/*----------------------------
POO - Parcours 
----------------------------*/

.img-poo {
    width: 20vw;
    height: 20vw;
    border-radius: 0.8vw;
    object-fit: cover;
}

.contenaire_poo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block_poo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1.5vw;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 0.8vw;
    width: 20vw;
}

@media (max-width: 670px) {

    .contenaire_poo {
        flex-direction: column;
        align-items: center;
    }

    .block_poo {
        width: 80%;
        margin: 10px 0px 10px 0px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 25px 50px -12px;

    }

    .contenaire-img-poo {
        width: 100%;
        height: 150px;
    }

    .img-poo {
        width: 100%;
        border-radius: 16px;
        height: 150px;
        object-fit: cover;
    }

    .txt-poo {
        font-size: 4vw;
    }

    .txt-poo-2 {
        font-size: 4.8vw;
    }

    .h3-poo {
        font-size: 6vw;
    }

}

.contenaire-txt-poo {
    padding: 10px 0px 0px 10px;
}

.btn_poo {
    text-align: center;
}

/* PAGE ADMIN */
.tablinks {
    cursor: pointer;
}

.tabcontent {
    display: none;
}

.tablinks.active .tabcontent {
    display: block;
}

.validParticip {
    font-size: 1.4vw;
    width: 15vw;
    border-radius: 3vw;
    background-color: none;
    color: #007ca6;
    border: solid #007ca6 0.2vw;
    transition-duration: .2s;
}

.validParticip:hover {
    background-color: #007ca6;
    color: white;
    transition-duration: .2s;
}


/* Style de la page Admin */
h1#h1Admin {
    margin-top: -9vw;
}

h3#h3Admin {
    text-align: center;
}

h2#h2Admin {
    text-align: center;
}

.hrAdmin {
    height: 0.1vw;
    background-color: rgb(221, 221, 221);
    border: none;
    width: 60vw;
    border-radius: 30vw;
    margin-top: 2.5vw;
}

.tab {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.tab button {
    background-color: inherit;
    align-items: center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15em;
    border: solid 3px #000;
    margin-right: 5%;
    border-radius: 30px;
    transition: 0.3s;
    color: rgb(0, 0, 0);
}

.tab button:hover {
    background-color: #107ca6;
    color: rgb(255, 255, 255);
    border: #107ca6;
}

/* Style du contenu des onglets */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Style des formulaires */
#formCreerUtilisateur {
    background-color: rgb(255, 255, 255);
    width: 30em;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: auto;
}

#formCreerUtilisateur input[type=text],
input[type=email],
input[type=password],
input[type=number],
select {
    width: 100%;
    font-family: Lufga;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

.js__formAdmin,
input[type=text],
input[type=email],
input[type=number],
select {
    width: 100%;
    font-family: Lufga;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

#formCreerUtilisateur input[type=submit] {
    width: 100%;
    font-family: Lufga;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: solid 3px #000;
    border-radius: 30px;
    cursor: pointer;
}

.js__formAdmin,
input[type=submit] {
    width: 100%;
    font-family: Lufga;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: solid 3px #000;
    border-radius: 30px;
    cursor: pointer;
}

#formCreerUtilisateur input[type=submit]:hover {
    background-color: #107ca6;
    color: rgb(255, 255, 255);
    border: solid 3px #107ca6;
    transition: 0.3s;
}

.js__formAdmin,
input[type=submit]:hover {
    background-color: #107ca6;
    color: rgb(255, 255, 255);
    border: solid 3px #107ca6;
    transition: 0.3s;
}

.formCompte input {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.texteCompte {
    margin-left: 15px;
}

/* Style des tables */
table {
    width: 100%;
    border-collapse: inherit;
    border: solid 3px #000;
    border-radius: 30px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: none;

}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

tr:nth-child(even) {
    background-color: #d0d0d0;
}

/* Boutons d'action dans les tables */
tr button {
    background-color: #107ca6;
    color: white;
    padding: 6px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

tr button:hover {
    background-color: #0d6284;
}


/* Style des formulaires de modification (cachés par défaut) */
div[id^='formModif_'] {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 10px;
}


/*-------------------
        footer 
--------------------*/

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url('../images/flocon5.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 98%;
    height: auto;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3px;
}

.logofooter {
    width: 80px;
    margin-top: 20px;

}

.rec-reseau {
    width: 98%;
    margin: 0 auto;
    border-radius: 20px;
    margin-right: 10px;
    margin: 10px;
    background-color: white;
    color: black;

}

.reseau {
    text-decoration: none;
    color: #000;
    margin: -22px;
}

.separateur-footer {
    border-top: 3px groove black;
    margin: 10px auto;
    width: 83%;
    text-align: center;
}













/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* Cache le menu burger par défaut */
#mySidenav,
#openBtn {
    display: none;
}

/* Affiche le menu burger sur les petits écrans */
@media screen and (max-width: 670px) {
    #contenaire_lapotop_navbar {
        display: none;
    }

    #mySidenav,
    #openBtn {
        display: block;
    }

    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: left 0.5s ease;
    }
}