/* ajout des polices */
@font-face {
    font-family: lufgabold;
    src: url(../font/LufgaBold.ttf) format('truetype'); 
}

@font-face {
    font-family: lufga;
    src: url(../font/LufgaMedium.ttf);
}

/* modification génerale*/

body{
    font-family: lufga;
    padding: 0;
    margin: 0;
}

/*-----------------------------------
                NAVBAR
------------------------------------*/

nav {
    display: flex;
    background-color: none;
    width: 98vw;
    padding: 1vw;
}

nav img {
    width: 3vw;
    padding-inline: 0.2vw;
}

.loupe {
    width: 1.7vw;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: none;
    text-decoration: none;
    border: solid 2px;
    border-radius: 10000vw;
    padding: 1vw;
    height: 2.1vw;
    transition-duration: .2s;
}

nav a:not(.iconeRond) {
    padding-inline: 4vw;
}

nav a.iconeRond {
    border: none; 
}

nav a:hover:not(:first-child) {
    
    transition-duration: .2s;
    background-color: #007ca6;
    color: white;
    border-color: transparent;
}

nav a:hover:first-child {
    background-image: url('./images/logoTDG.png'); 
    transition-duration: .2s;
}
.grow {
    flex-grow: 1;
}

h1{
    font-size: 105px;
    font-family: lufgabold;
}

h2{
    font-size: 45px;
    font-family: lufgabold;
}

h3{
    font-size: 30px;
    font-family: lufgabold;
}

/* page login.php */


.bodylogin {
    background: url('../img/fondLogin.jpg') center center no-repeat;
    background-size: cover;
    
}

.titrelogin{
    color: white;
    width: 50%;
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: flex-end; 
    height: 100vh; 
}

.login-form {
    font-size: 15px;
    width: fit-content;
    text-align: left;
    margin-top: 50px;
    margin-left: auto; 
    margin-right: 7%;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding-left: 5px;
    font-family: lufga;
    height: 42px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-color: black;
}

button {
    font-family: lufga;
    height: 42px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .login-container {
        justify-content: center; 
    }

    .login-form {
        margin-left: auto; 
    }
}

/* page d'accueil */



 .bodyindex {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.background-image {
    position: relative;
    text-align: center;
}

.background-image img {
    width: 98%;
    height: auto;
    display: block;
    filter: brightness(0.6);
    border-radius: 20px;
    margin: 0 auto;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titre-glaces {
    font-size: 15vw;
    margin: 0;
    font-family: lufgabold;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
}

.titre-trail {
    font-size: 2.5vw;
    margin: 0;
    font-family: lufgabold;
    color: white;
}

.bouton-inscription {
    position: absolute;
    bottom: 20px;
    width: 240px;
    height: 60px;
    border: 2px solid #000;
    background-color: white;
    color: #000;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 3; 
}